@import "./Variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import "./Mixins.scss";

body,
html {
  font-family: "Lora";
  
}
.auth{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  background-color: #F8F8FF;
  padding: 20px 40px 0px 40px;
  width: 30rem;
  margin-bottom: 30px;
}
.home-content{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.inputtype{
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.auth-content{
  margin: 40px;
  height:55vh;
  background-color: #cfe8fc;
  padding: 30px;
}
.register{
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}
.inactive{
 
  color: #000000;
  border-bottom: 2px solid transparent;
}
.isactive{
  color: #66CDAA;
  border-bottom: 2px solid #66CDAA;
  

}